@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f3f5f9;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

/* ************************* Sidebar section start ******************************** */

.wrapper .sidebar {
  width: 20.1vw;
  height: 100%;
  background: transparent url("../img/Rectangle\ 1.svg") 0% 0% no-repeat
    padding-box;
  padding: 30px 0px;
  opacity: 1;
  flex-grow: 3;
  position: fixed;
}

.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  height: 5.9vh;
}

.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  font-size: 1em;
  text-align: left;
  letter-spacing: 0px;
  color: #efefef;
}
.wrapper .sidebar ul li .fas {
  margin-left: 2.6vw;
  margin-right: 2vw;
  background: transparent url("img/Path 43125.png") 0% 0% no-repeat padding-box;
  color: white;
  text-align: left;
}

.wrapper .sidebar ul li:hover,
.wrapper .sidebar ul li.active {
  width: 19.8vw;
  background: transparent url("../img/Rectangle\ 10.svg") 0% 0% no-repeat
    padding-box;
  opacity: 0.22;
  color: #ffffff;
  opacity: 1;
  border-right: 4px solid whitesmoke;
}

@media (max-width: 1024px) {
  .wrapper .sidebar ul li a {
    display: none;
  }
  .wrapper .sidebar h2 {
    font-size: 1.6rem;
  }
  .wrapper .sidebar ul li {
    text-align: center;
    margin: 0px;
    font-size: 1.3rem;
  }
}

@media (max-width: 960px) {
  .wrapper .sidebar ul li a {
    display: none;
  }
  .wrapper .sidebar h2 {
    font-size: 1rem;
  }
  .wrapper .sidebar ul li {
    margin-left: 0px;
    font-size: 0.9rem;
  }
  .wrapper .sidebar ul li .fas {
    margin: 0px;
  }
}

/* ************************* Sidebar section end ******************************** */

/* ************************* Team section start ******************************** */

.wrapper .team {
  position: absolute;
  bottom: 6.6vh;
  padding-left: 1rem;
  width: inherit;
  text-align: center;
}

.wrapper .sidebar .team h5 {
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

.wrapper .sidebar .team select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 10px;
  margin-left: 5vw;
  display: block;
  padding: 0.7vw 5vh 0.9vw 1.9vw;
  font-size: 0.8rem;
  color: #32cd32;
  background: transparent url("../img/Polygon\ 9.svg") 0% 0% no-repeat
    padding-box;
  background-position: right 0.7em top 50%, 0 0;
  opacity: 1;
  cursor: pointer;
}
.wrapper .sidebar .team .custom-select {
  position: relative;
  display: block;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

@media (max-width: 1024px) {
  .wrapper .team {
    left: 0vw;
  }
  .wrapper .sidebar .team h5 {
    font-size: 0.8rem;
  }
  .wrapper .sidebar .team select {
    font-size: 0.7em;
    margin-left: 0;
    width: 5vw;
    background-position: right 0.1em top 50%, 0 0;
    position: relative;
  }
}
/* ************************* Team section end ******************************** */

/* ************************* main_content section start ******************************** */

.wrapper .main_content {
  width: 80vw;
  margin-left: 19.5vw;
}

/* ************************* main_content section end ******************************** */

/* ************************* main_content_header section start ******************************** */

.wrapper .main_content .header {
  top: 0;
  width: inherit;
  padding-top: 30px;
  background: #ffffff;
  opacity: 1;
  display: flex;
}
.wrapper .main_content .header .left {
  flex-grow: 5;
}
.wrapper .main_content .header .left ul {
  display: flex;
}
.wrapper .main_content .header .left ul li {
  margin-left: 1.8vw;
  margin-top: 1.3vh;
  padding-bottom: 0.6vh;
}
.wrapper .main_content .header .left ul li a {
  color: rgb(173, 167, 167);
}
.wrapper .main_content .header .left ul li:hover {
  border-bottom: 5px solid #32cd32;
  cursor: pointer;
}
.wrapper .main_content .header .left ul li:hover a,
.wrapper .main_content .header .left ul li .active {
  color: black !important;
}
.wrapper .main_content .header .left ul .li_active {
  border-bottom: 5px solid #32cd32;
}
.wrapper .main_content .header .right {
  flex-grow: 1;
}
.wrapper .main_content .header .right ul {
  display: flex;
}
.wrapper .main_content .header .right ul li div {
  width: 45px;
  height: 45px;
  background: transparent
    url("../img/ben-parker-OhKElOkQ3RE-unsplash\ \(1\).png") 0% 0% no-repeat
    padding-box;
  margin: 5px;
}
.wrapper .main_content .header .right ul li select {
  width: 70px;
  border: none;
  outline: none;
  background: transparent;
  appearance: none;
  margin: 0;
  display: block;
  padding: 12px 0px 5px 0px;
  font-size: 14px;
  color: #676767;
  background: transparent url("../img/arrow-down-sign-to-navigate\ \(1\).svg")
    0% 0% no-repeat padding-box;
  background-position: 95% 60%;
  opacity: 1;
}

@media (max-width: 1024px) {
  .wrapper .main_content .header .left {
    font-size: 0.9rem;
  }
  .wrapper .main_content .header .left ul li {
    margin-left: 2vw;
  }
}
@media (max-width: 960px) {
  .wrapper .main_content .header .left {
    font-size: 0.7rem;
  }
}

/* ************************* main_content_header section end ******************************** */

/* ************************* hero  section start ******************************** */

.wrapper .main_content .hero {
  padding: 15px;
  color: #f4f6f4;
  line-height: 3vh;
  display: flex;
}
.wrapper .main_content .hero .left {
  padding: 10px;
  margin-left: 0.3vw;
  flex-grow: 5;
}
.wrapper .main_content .hero .right {
  padding: 10px;
  margin-left: 0.3vw;
  flex-grow: 5;
  text-align: right;
}
.wrapper .main_content .hero .left .btn {
  background-color: #32cd32;
  width: 20vw;
  height: 7.3vh;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.wrapper .main_content .hero .right input {
  width: 20vw;
  height: 7.3vh;
  opacity: 1;
  font-size: 1rem;
  text-decoration: inherit;
  padding: 5px;
  color: black;
  background: #fff;
  border: none;
  border-radius: 8px;
  padding: 25px;
  letter-spacing: 0.5px;
}
.wrapper .main_content .hero .right input:hover {
  background: white;
  padding: 25px;
}
input::-webkit-input-placeholder {
  font-family: "FontAwesome";
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .wrapper .main_content .hero .left .btn {
    font-size: 0.8rem;
  }
  input::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
}
@media (max-width: 960px) {
  .wrapper .main_content .hero .left .btn {
    font-size: 0.7rem;
  }
}

/* ************************* hero section end ******************************** */

/* ************************* form-popup section start ******************************** */

.form-popup {
  display: none;
  position: fixed;
  top: 26vh;
  left: 22vw;
  width: 70vw;
  height: 400px;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
  overflow: auto;
}

.form-popup h1 {
  padding: 10px;
  color: black;
  margin: 10px;
  margin-top: 2.5vh;
  display: flex;
  text-align: center;
  justify-content: center;
}
.form-popup .row {
  display: flex;
  margin: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
.form-popup .row .name {
  color: black;
  margin: 15px;
}
.form-popup .row .name label {
  display: flex;
}
.form-popup .row .name input {
  padding-left: 1.6vw;
  width: 63vw;
  height: 45px;
  border: none;
  border: 2px solid #b5b5b5;
  border-radius: 5px;
}
.form-popup .row .start {
  
  width: 200px;
  min-width: 20vw;
  height: 60px;
  margin: 15px;
  text-align: center;
}
.form-popup .row .end {
  
  width: 200px;
  min-width: 20vw;
  height: 60px;
  margin: 15px;
  text-align: center;
}

.form-popup .row .week {
  
   width: 200px;
  min-width: 20vw;
  height: 60px;
  margin: 15px;
  text-align: center;
}
.form-popup .row select {
  width: 200px;
  padding-left: 2.5vw;
  height: 45px;
  border-radius: 5px;
}
.form-popup .row input {
  width: 200px;
  padding-left: 2.5vw;
  height: 45px;
  border-radius: 5px;
}
.form-popup .row button {
  border-radius: 7px;
  width: 30vw;
  height: 55px;
  margin: 15px;
  cursor: pointer;
}
.form-popup .row .cancel {
  background-color: #dddddd;
  border: none;
  color: #5d5d5d;
}
.form-popup .row .create {
  background-color: #32cd32;
  color: #ffffff;
  border: none;
}

@media (max-width: 1024px){
  .form-popup h1{
    font-size: 1.2rem;
  }
}

/* ************************* form-popup section end ******************************** */

/* ************************* info section start ******************************** */


.wrapper .main_content .info {
  padding: 15px;
  color: #717171;
  line-height: 25px;
  overflow-y: auto;
  max-height: 500px;
}

.wrapper .main_content .info div {
  margin-bottom: 20px;
}

.wrapper .main_content .info .schedule select {
  outline: none;
  background: transparent;
  appearance: none;
  width: 100%;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 4px 17px #c6c6c619;
  border-radius: 5px;
  opacity: 1;
}
.wrapper .main_content .info .schedule .card {
  width: 100%;
  background-color: white;
}
.wrapper .main_content .info .schedule .card .collapsible {
  background: transparent url("../img/Polygon\ 9.svg") 0% 0% no-repeat
    padding-box;
  background-position: 95% 60%;
  opacity: 1;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.wrapper .main_content .info .schedule .card .collapsible span {
  color: #acacac;
}

.editicon {
  width: 29px;
  height: 28px;
  background: transparent url("../img/Group\ 14734.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.wrapper .main_content .info .schedule .card .collapsible .deleteicon {
  width: 29px;
  height: 28px;
  background: transparent url("../img/Group\ 14734.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}


.collapsible .active,
.collapsible:hover {
  background-color: #555;
}

/* ************************* content section start ******************************** */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.content .row {
  display: flex;
  flex-wrap: wrap;
}
.content .row .date {
  display: flex;
  flex-wrap: wrap;
}
.content .row .date .start {
  color: black;
  padding: 3px;
  margin: 5px;
  flex-grow: 1;
}
.content .row .date .start span {
  color: #676767;
  display: block;
}
.content .row .date .end {
  color: black;
  padding: 3px;
  margin: 5px;
  flex-grow: 1;
}
.content .row .date .end span {
  color: #676767;
  display: block;
}
.content .row .updatebtn {
  flex-grow: 1;
  text-align: end;
}
.content .row .updatebtn button {
  cursor: pointer;
  width: 138px;
  height: 50px;
  background-color: #32cd32;
  border: none;
  color: white;
  border-radius: 10px;
  margin: 10px;
}
.content .row .day {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
  flex-grow: 1;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid rgb(216, 209, 209);
}
.content .row .day label {
  margin: 5px;
}

input[type="radio"]:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #32cd32;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}

.content .row .day:hover {
  color: #32cd32;
  border: 2px solid #32cd32;
}

@media (max-width: 1024px){
  .content .row .updatebtn {
    text-align: left;
  }
}
/* ************************* content section start ******************************** */

/* ************************* info section start ******************************** */